html, body {
	box-sizing: border-box;
	text-align: center;
}
.alert {
	color: red;
}
.container {
	width: 50%;
	margin: 0 auto;
}
.container form input {
	display: block;
	margin: 2em auto;
	width: 100%;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: .5em;
}

.container form input:focus {
	outline: none;
}
.container form 	input[type="submit"] {
	width: auto;
	background: green;
	border: none;
	border-radius: 5px;
	color: #FFF;
	padding: 14px 16px;
	cursor: pointer;
}