html, body {
	box-sizing: border-box;
	text-align: center;
}
.alert {
	color: red;
}
input {
	display: block;
	margin: 4em auto;
	width: 30%;
	padding: 1em;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	width: auto;
	background: green;
	border: none;
	border-radius: 5px;
	color: #FFF;
	padding: 14px 16px;
	cursor: pointer;
	width: 30%;
}